<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Rich Budget</a>
</nav>

<div class="container">

  <div class="row mt-4">
    <div class="col">
      <form class="form-inline">
        <label for="monthlyTakeHomePay">Take Home Pay: </label>
        <input type="number"
              class="form-control m-2"
              id="monthlyTakeHomePay"
              name="monthlyTakeHomePay"
              placeholder="5000"
              [(ngModel)]='monthlyTakeHomePay'>
      </form>
    </div>
  </div>

  <div *ngIf="monthlyTakeHomePay" class="mt-4">
    <h4>Spending Plan</h4>

    <div class="row">
      <div class="col-md-3">
        <p>Wealth Building <b>(30%)</b>:</p>
      </div>
      <div class="col-md-3">
        <p>{{ monthlyTakeHomePay * .30 | currency }}</p>
      </div>
    </div>

    <div class="row">
        <div class="col-md-3">
          <p>Donations <b>(5%)</b>:</p>
        </div>
        <div class="col-md-3">
          <p>{{ monthlyTakeHomePay * .05 | currency }}</p>
        </div>
      </div>

    <div class="row">
      <div class="col-md-3">
        <p>Expenses <b>(50%)</b>:</p>
      </div>
      <div class="col-md-3">
        <p>{{ monthlyTakeHomePay * .50 | currency }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <p>Guilt Free Spending <b>(20%)</b>:</p>
      </div>
      <div class="col-md-3">
        <p>{{ monthlyTakeHomePay * .15 | currency }}</p>
      </div>
    </div>

  </div>

</div>
